body{
    background-color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    
    
}
img{
    width: 2cm;
    height: 5%;
    border-radius: 45%;
}
ul{
    list-style: none;
    margin: 0.5cm;
    align-items: center;
}
li{
    margin: 0.5cm;
    align-items: center;
}
.profile-container{
    background-color: black;
    box-shadow: 10px;
}